.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

th {
  padding: 10px 0px;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

td,
th {
  border: 2px solid blue;
  padding: 8px;
}
