.container .heading-1 {
	font-size: 50px;
	font-weight: bold;
	color: red;
}

.heading-2,
.heading-3 {
	font-size: 80px;
	font-weight: bold;
	color: blue;
}

.title.heading-red {
	font-size: 80px;
	font-weight: bold;
	color: green;
}
